server:
  port: 8080
#  context-path: /spring-boot-demo # 访问地址：http://localhost:8081/spring-boot-demo/hi
#  tomcat:
#    uri-encoding: UTF-8
#  session:
#    timeout

dubbo:
  application:
    name: mydubboservice
    id: mydubboservice
  ## ProtocolConfig
  protocol:
    id: dubbo
    name: dubbo
    port: 20880
    threads: 400
  #这是你要发布到dubbo提供服务的接口所在包位置
  scan:
    base-packages: com.sl.service

#多注册中心
#  registries:
#    registry1:
#      address: zookeeper://127.0.0.1:2181
#    registry2:
#      address: zookeeper://127.0.0.1:2182
#      default: true

#  单个注册中心
  registry:
    address: zookeeper://127.0.0.1:2180
  provider:
    validation: true
#    filter: dubboLogFilter
# mysql 的数据库配置
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
        # 特别注意：java 8以后需要将com.mysql.jdbc.Driver  改为  com.mysql.cj.jdbc.Driver即可
        # 否则报错：Loading class `com.mysql.jdbc.Driver'. This is deprecated.
        driver-class-name: com.mysql.cj.jdbc.Driver
        #基本属性
        url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&serverTimezone=UTC
        username: root
        password: 123456
        #配置初始化大小/最小/最大[仅用于测试，生成环境需要修改哦]
        initial-size: 5
        min-idle: 5
        max-active: 20
        #获取连接等待超时时间
        max-wait: 60000
        #间隔多久进行一次检测，检测需要关闭的空闲连接
        time-between-eviction-runs-millis: 60000
        #一个连接在池中最小生存的时间
        min-evictable-idle-time-millis: 300000
        #指定获取连接时连接校验的sql查询语句
        validation-query: SELECT 'x'
        #验证连接的有效性
        test-while-idle: true
        #获取连接时候验证，会影响性能（不建议true）
        test-on-borrow: false
        #打开PSCache，并指定每个连接上PSCache的大小。oracle设为true，mysql设为false。分库分表较多推荐设置为false
        pool-prepared-statements: false
        max-pool-prepared-statement-per-connection-size: 20
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      # Hibernate ddl auto (create, create-drop, update)
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

#热部署
devtools:
  restart:
    enabled: true #热部署生效
    #设置重启的目录
    additional-paths: src/main/java
    exclude: WEB-INF/** #classpath目录下的WEB-INF文件夹内容修改不重启

mybatis:
  mapper-locations: classpath*:mybatis/*Mapper.xml
  type-aliases-package: com.sl.pojo.mybatis

#pagehelper
pagehelper:
  helperDialect: mysql
  #  分页参数合理化，默认false禁用 .启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页
  #  用合理化时，如果pageNum<1或pageNum>pages会返回空数据
  reasonable: true
  supportMethodsArguments: true
  # 设置为true时，使用RowBounds分页会进行count查询 .默认=false
  rowBoundsWithCount: true